        @font-face {
            font-family: 'medusaoauth2-manticore';
            src: url('fonts/medusaoauth2-manticore.eot?mmc5kc');
            src: url('fonts/medusaoauth2-manticore.eot?mmc5kc#iefix') format('embedded-opentype'),
            url('fonts/medusaoauth2-manticore.ttf?mmc5kc') format('truetype'),
            url('fonts/medusaoauth2-manticore.woff?mmc5kc') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .social-button::before {
            background-color: rgba(0, 0, 0, 0.15);
            margin: -7px 10px -7px -7px;
            padding: 7px;
            text-indent: 0;
            vertical-align: bottom;
            font-size: 22px;
            position: relative;
            top: 0;
            display: inline-block;
            font-family: "medusaoauth2-manticore";
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            min-width: 24px;
            line-height: 1;
            text-align: center;
            content: "\f090";
        }

        .social-button {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            background: #ccc;
            display: inline-block;
            text-align: left;
            min-width: 185px;
            color: #ffee00;
            padding: 7px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            transition: background-color 0.15s;
            font-weight: bold;
        }

        .social-button.medusa::before {
            content: "\f189";
        }

        .social-button.medusa {
            background-color: #000;
            border: solid #ffee00 4px;
        }

        .social-button.medusa:hover {
            background-color: #ee3300;
        }